body {
    background-color: #EFEFEF;
    padding: 20px 15px;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}
.logo {
    width: 75px;
}
.title {
    text-align: center;
}
table {
    max-width: 550px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}
table, th, td {
  border: 1px solid #ddd;
  padding: 3px;
}

thead {
    background-color: #04AA6D;
  }
tbody tr:nth-child(even) {
  background-color: #E0E0E0;
}  
img {
  display: block;
  max-width: 100%;
}
